@tailwind base;
@tailwind components;
@tailwind utilities;
/* html,
body,
#root {
  @apply bg-black text-white box-border;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-rose-900 rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-xl;
} */

body {
  overflow-x: hidden;
  padding: 0 4rem 0 4rem;
}
.color-input {
  width: 1rem;
  height: 1rem;
  padding: 0;
  border-radius: 50%;
  box-sizing: border-box;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; /* Remove padding to fill the circle */
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%; /* Ensure the swatch itself is circular */
}
